<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Assignment</title>
    {% load static %}

</head>
<body>

<h1>Assignment</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias, doloribus ducimus earum eligendi enim est fugit iste iusto labore laborum natus nemo obcaecati perferendis quo sequi velit voluptate, voluptatibus.</span><span>Alias, debitis deserunt eius error fugit in ipsum magnam possimus sapiente sit suscipit totam. At atque consequatur cumque eum exercitationem incidunt laborum libero minima minus praesentium repellat, reprehenderit soluta voluptate!</span><span>Ab accusamus accusantium amet assumenda blanditiis commodi cumque deserunt distinctio dolore error est, fuga impedit libero natus necessitatibus nesciunt nihil officia porro quia, quos reiciendis repudiandae tempora, tempore totam vero.</span><span>A asperiores autem deserunt eos est facilis laborum magnam, nesciunt optio, placeat porro quaerat rem repudiandae sed tempore veritatis vitae? Eos perferendis quod vel? Dolore ea eligendi libero similique ullam.</span></p>
<img src="{% static 'myapp/assets/f4.jpg'%}" alt="">
<img src="{% static 'myapp/assets/f5.jpg'%}" alt="">

</body>
</html>