<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery Page</title>
    {% load static %}

</head>
<body>

<h1>GALLERY</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque, illo iste sed tempora voluptate! Debitis dignissimos distinctio eaque ipsa mollitia possimus praesentium quis quos, repellendus veniam. Doloribus, magnam, repellendus!</span><span>Distinctio magni obcaecati suscipit voluptate voluptatem. Adipisci, architecto, aspernatur assumenda consectetur dolore doloribus earum eius, ipsam labore maiores necessitatibus officiis possimus quisquam suscipit ullam! Accusamus ea iste optio quaerat ratione.</span><span>A aliquid aperiam error est eum fugit inventore, ipsam iste maxime necessitatibus odit, quas repellat. Adipisci cupiditate necessitatibus nisi praesentium voluptatem. Architecto consequuntur cupiditate eveniet fugit magni odit officiis quia?</span></p>
<img src="{% static 'myapp/assets/f2.jpg'%}" alt="">
<img src="{% static 'myapp/assets/f3.jpg'%}" alt="">
<img src="{% static 'myapp/assets/f4.jpg'%}" alt="">
<img src="{% static 'myapp/assets/f5.jpg'%}" alt="">
<img src="{% static 'myapp/assets/f6.jpg'%}" alt="">
<img src="{% static 'myapp/assets/f7.jpg'%}" alt="">
<img src="{% static 'myapp/assets/f8.jpg'%}" alt="">
<img src="{% static 'myapp/assets/f9.jpg'%}" alt="">
<img src="{% static 'myapp/assets/f10.jpg'%}" alt="">


</body>
</html>